body {
	background-color: antiquewhite;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: violet;
	display: table;
	width: 100%;
    font-family: 'Cabin', sans-serif;
}

nav li {
	display: table-cell
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 30px 30px;
	text-decoration: none;
}

li a:hover {
	background-color: black;
}

h1 {
    font-family: 'Cabin', sans-serif;
    font-size: 300%;
    text-align: center;
}

h2 {
	font-family: 'Cabin', sans-serif;
}

p {
	font-family: 'Cabin', sans-serif;
}

img {
	width: 400px;
	height: 300px;
 	position:relative;
  	right:28px;
}

footer {
	position: relative;
	width: 100%;
	bottom: -100px;
	background-color: violet;
    font-family: 'Cabin', sans-serif;
}

footer p {
	color: white;
	text-decoration: none;
	padding: 10px;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
}

audio {
	padding: 15px;
	width: 98%;
    box-sizing: border-box;
    justify-content: center;
}

embed {
	width: 400px;
	height: 458px;
    padding:15px;
}

#date{
    justify-content: center;
    font-size: 45px;
    color: black;
    vertical-align: top;
    display: flex;
    font-family: 'Cabin', sans-serif;
}

#clock {
    justify-content: center;
    font-size: 80px;
    color:black;
    display: flex;
    font-family: 'Cabin', sans-serif;
}

#submitColor { 
    margin-left: 48px;
    margin-top: 5px;
    background-color: blueviolet; 
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Cabin', sans-serif;
}