body{
    background-color: #1c1a1a;
    margin: 0;
} 

.digclockcontainer{
    cursor: pointer;
    position: relative;
    text-align: center;
}

.colorpicker{
    color:whitesmoke;
    font-size: 2vw;
}

.digclock{ 
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:whitesmoke;
    text-align: center;
    font-size:4vw;
    font-family: 'Press Start 2P';
}

.date{
    position: absolute;
    top:55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:whitesmoke;
    text-align: center;
    font-size:1.5vw;
    font-family: 'Press Start 2P';
}

.github{
    position: absolute;
    left: 47.5%;
    width: 4vw; 
    height: 4vw; 
}

.autor{
    position: absolute;
    color: whitesmoke;
    
    top: 95%;
}