body {
    margin: 0;
}

main {
    height: 100vh;
    font-family: 'EB Garamond', serif;
    background-image: url('pics/sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

#buttonContainer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    bottom: 0;
    right: 0;
    position: absolute;
    
}

#buttonContainer * {
    margin: 5px;
}

button {
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;
    /* font-weight: bold; */
    transition: border 0.3s;
    font-family: 'EB Garamond', serif;
}

button:hover {
    border: 2px solid rgb(192,192,192);
}

.changeButton {
    background-color: rgba(188,216,224,0.5);
    color: rgb(2, 2, 32);
    font-size: 18px;
    padding: 10px;
}

#toMyRepo {
    bottom: 0px;
    left: 0;
    position: absolute;
    background-color: transparent;
    color: white;
    font-size: 13px;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
    opacity: .7;
}

#timeAndDateContainer {
    color: white;
    font-size: 1.8em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30%;
    min-height: 159px;
}

#time {
    font-size: 2.3em;
    cursor: pointer;
}

#weekday, #date {
    cursor: default;
}
